<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user, room: @room, entry: @entry, is_room: @is_room, roomid: @roomid %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'books/index',books: @books %>
      <%= render 'posts', today_book: @today_book, yesterday_book: @yesterday_book,
      this_week_book: @this_week_book, last_week_book: @last_week_book %>
      <%= render 'chart', today_book: @today_book, yesterday_book: @yesterday_book, books: @books %>
      <%= render 'finders/finder', user: @user %>
      <h4>検索結果</h4>
      <%= render 'finders/finder_index', finder_book: @finder_book %>

    </div>
  </div>
</div>
