<% if user_signed_in? %>
  <div class="search_from">
    <!--検索内容を作成したルーティングに送信-->
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <!--検索内容をwordとしてアクションへ送る-->
      <%= f.text_field :word %>
      <!--複数モデルを検索できるように実装するため、Userモデル,Bookモデルを選択できるようにしている-->
      <%= f.select :range, options_for_select([['User'], ['Book']]) %>
      <!--検索手法を定義 -->
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致", "backward_match"], ["部分一致", "partial_match"]]) %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
<% end %>